body{
    margin: 2em;
}

table{
    margin-top: 2em;
}

.display-2{
    text-align: center;
}
.display-6{
    text-align: center;
}

.containerInputs{
    margin: 1px;
}

#addNotes, #addChore{
    width: 40.5em
}

#submitButton{
    width: 15em;
}

#submissionStatus{
    display:inline-block;
    
}